
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1>Excel Raporlama</h1>
<a href="/Admin/Excel/StaticExcelReport" class="btn btn-outline-info">Statik Excel Raporları</a>
<a href="/Admin/Excel/DestinationExcelReport" class="btn btn-outline-info">Destinasyonlar Excel Raporları</a>
