
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1>Pdf Raporlama</h1>
<a href="/Admin/PdfReport/StaticPdfReport" class="btn btn-outline-info">Statik Pdf</a>
<a href="/Admin/PdfReport/StaticCustomerReport" class="btn btn-outline-info mx-3">Statik Katılımcı Pdf</a>
